/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px;
}

:root {
    --lightbluecolor: #6cd6ff;
    --darkbluecolor: #324681;
    --fadedbluecolor: #4D99B6;
    --lightgraycolor: #D3D3D3;
    --blacktextcolor: #000;
    --whitetextcolor: #fff;
    --lightbackground: #f0ebeb;
    --graytextcolor: #808080;

}
.light-blue-text {
    color: var(--lightbluecolor);
}
.dark-blue-text {
    color: var(--darkbluecolor);
}
.light-gray-text{ 
    color: var(--lightgraycolor);
}
.light-blue-text {
    color: var(--lightbluecolor);
}
.faded-blue-color {
    color: var(--fadedbluecolor)
}

::-webkit-scrollbar {
    width: 12px;
    overflow-y: scroll;
    background: var(--lightgraycolor);
}

::-webkit-scrollbar-thumb {
    background: #00000021;
    border-radius: 10px;
    opacity: 50%;
}