
::ng-deep {
    .p-datatable-wrapper {
        max-height: 80vh !important;
        overflow-y: auto;
    }
    .p-datatable-header {
        width: 133%;
        .table-header {
            padding: 9px;
        }
        input {
            height: 40px;
        }
    }
    .p-datatable .p-datatable-thead > tr > th {
        background: unset !important;
        color: var(--graytextcolor) !important;
        font-weight: 600 !important;
    }

    .p-datatable.p-datatable-hoverable-rows .p-datatable-tbody > tr:not(.p-highlight):hover {
        i {
            color: var(--blacktextcolor);
        }
    }
}
.list-name {
    width: 25rem;
}
.option {
    background: var(--darkbluecolor);
    color: var(--whitetextcolor);
    padding: 10px;
    font-weight: 500 !important;
}
.w-unset {
    width: unset !important;
}
.active-index {
    border-bottom: 4px solid var(--darkbluecolor);
    padding: 0px 6px;
}
@media only screen and (max-width: 577px) {
    .container {
        display: none;
    }
    .text-field {
        margin-top: 14px;
        width: 100% !important;
    }
    .list-name {
        width: auto;
    }
    ::ng-deep .p-datatable-header {
        width: 100% !important;
    }
    .options {
        span {
            font-size: 0.55rem !important;
        }
    }
}
